* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b32;
    color: #0a0a23;
    height: 100vh;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 30px;
    margin: 25px 0;
}

#main-content>h1 {
    color: #eee;
    font-size: 2.5em;
    font-family: sans-serif;
    padding: 10px 0;
    text-align: center;
}

form {
    width: 500px;
    height: 700px;
    background: green;
    margin: 25px 0;
    background-color: #f5f6f7;
    border: 1px solid #f5f6f7;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(223, 220, 220, 0.75);
    position: relative;
}

form>p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #333;
}

#input-and-button {
    width: 82%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

#search-input {
    width: calc(100% - 25%);
    padding: 5px 30px;
    background: #f9f8f8;
    font-size: 25px;
}

#search-button {
    width: 20%;
    padding: 14px 0;
    background-color: #7f21ab;
    color: #f5f6f7;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

#base-and-stats {
    width: 90%;
    display: grid;
    grid-template-columns: 300px 130px;
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    margin: 0 auto;
}

#base-and-stats>div {
    text-align: center;
    background-color: #7f21ab;
    color: #f5f6f7;
    padding: 10px;
    font-size: 20px;
}

#base-and-stats :nth-child(1),
#base-and-stats :nth-child(2) {
    font-weight: bold;
}

/* @media (max-width: 520px) {
    form {
        width: 100%;
    }
} */